
body {
    font-family: Arial, sans-serif;
    background-color: #f8f4e5;
    margin: 0;
    padding: 20px;
    
    
}

.navbar {
    font-family: 'Dancing Script', cursive;
    background-color: #8b4513;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
}
.navbar .logo {
    width: 180px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    top: -100px;
    z-index: 10; /* Ensure logo is on top */
    border: 6px solid #8b4513; 
    transition: transform 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}
.navbar .logo:hover {
    transform: translateX(-50%) scale(1.1); /* Slightly enlarge on hover */
    border-color: #552b0d; /* Change border color on hover */
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 0;
    
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.navbar a:hover {
    color: #ffffff;

    
}
.navbar li:hover{
    transition: transform 0.3s, color 0.3s;
    transform: scale(1.2);
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #8b4513;
}
label {
    font-weight: bold;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #8b4513;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: #6a2c0f;
}
.disclaimer {
    text-align: center;
    font-size: 14px;
    color: red;
    margin-top: 15px;
}

h1 {
    color: #8b4513;
}
.home-intro{
    font-family: 'Dancing Script', cursive;
    text-align:center;
}


.home-intro h1 {
    font-size: 60px;
    text-align: center;
    
}
.home-intro p{
    font-size: 30px;
    text-align: center;
}



@media (max-width: 900px) {
.navbar {
    flex-direction: column; /* Stack the items vertically */
    align-items: center;     /* Center the items horizontally */
    margin-top: 100px;        /* Adjust top margin */
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul {
    display: block; /* Change the navbar links to block-level for vertical stacking */
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 20px 0; /* Add spacing between items */
    text-align: center; /* Center the text inside each link */
}

.navbar .logo {
    margin-top: 5px;  /* Provide some space between the logo and navbar items */
    width: 150px;  /* Reduce logo size on smaller screens */
}

.navbar a {
    font-size: 16px; /* Adjust font size for readability */
}

/* Optional: Adjust button style for smaller screens */
button {
    width: auto; /* Allow button to be smaller */
    padding: 10px 20px;
}
}

/* Add styles for the slideshow */
        .slideshow-container {
            position: relative;
            max-width: 100%;
            margin: auto;
            overflow: hidden; /* Ensure images don't overflow */
            transition: all 0.5s ease-in-out; /* Add transition for smooth effect */
            }

        /* Slide container */
        .slide {
            display: none;
            opacity: 0; /* Initial opacity */
            transition: opacity 1s ease-in-out; /* Add transition for fade effect */
            }

        .slide.active {
            display: block;
            opacity: 1;
            transition: opacity 1s ease-in-out; /* Add transition for fade effect */
            }



        img.slide-image {
            width: 100%;
            height: 450px;
            object-fit: cover; /* Ensures the images are properly scaled without distortion */
        }

        /* Navigation dots */
        .dot-container {
            text-align: center;
            padding: 15px;
        }

        .dot {
            height: 15px;
            width: 15px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
            background-color: #717171;
        }

        /* Style for navigation buttons */
        .prev, .next {
            position: absolute;
            top: 50%;
            padding: 10px 15px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;
            z-index: 10; /* Ensure buttons are on top of the slides */
            width: 25px;
            height: auto;
        }

        .prev {
            left: 10px; /* Adjust to position on the left side */
            transform: translateY(-50%);
        }

        .next {
            right: 10px; /* Adjust to position on the right side */
            transform: translateY(-50%);
        }

        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }



/* Our History Section */
.our-history {
    text-align: center;
    margin: 50px 0;
    margin-bottom: 100px;
}

.our-history h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #8b4513;
    margin-bottom: 50px;
    
}

.our-history h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #8b4513;
    margin-bottom: 40px;
    
}

.history-container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;     /* Vertically align the content in the middle */
    gap: 50px;               /* Adds space between the image and text */
    margin: 0 20px;
    margin-bottom: 100px;
}
.history-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 500px;  /* You can adjust the width as needed */
    margin-bottom: 10px;  /* Reduced space between image and text */
}

.history-text {
    font-family: 'Dancing Script', cursive;
    flex: 1;
    padding: 15px;  /* Reduced padding to bring text closer */
    max-width: 500px;
    text-align: left;
}

.history-text p {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
}

/* Responsive Styling for smaller screens */
@media (max-width: 768px) {
    .history-container {
        flex-direction: column; /* Stack the image and text vertically on small screens */
        align-items: center;     /* Center the items */
    }

    .history-image img {
        max-width: 100%; /* Make the image fill its container on small screens */
    }

    .history-text {
        padding: 10px;  /* Reduced padding for smaller screens */
    }
}
.footer{
    background-color: #8b4513;
    
    text-align: center;
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:50px;
}