<!-- Navigation bar -->

<div class="navbar-main">
<div class="navbar-background"></div>
<nav class="navbar">
    <!-- Menu -->
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/cakeorder">Custom Cakes</a></li>
        <!-- Logo in Navbar -->
        <a href="/"><img src="../photo/logo.jpg" alt="Paris Sweet Patisserie" class="logo"></a>
        <li><a href="/event">Event</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/login">Log in</a></li>
    </ul>
</nav>
</div>

<style>


.navbar-main {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 15;
}
.navbar-background {
    height: 105px;
    background-color: #f8f4e5;
}

.navbar {
    font-family: 'Dancing Script', cursive;
    background-color: #8b4513;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.navbar .logo {
    width: 180px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    top: -100px;
    z-index: 10; /* Ensure logo is on top */
    border: 4px solid #8b4513; 
    transition: transform 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}
.navbar .logo:hover {
    transform: translateX(-50%) scale(1.1); /* Slightly enlarge on hover */
    border-color: #552b0d; /* Change border color on hover */
}
.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 0;
    
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.navbar a:hover {
    color: #ffffff;

    
}
.navbar li:hover{
    transition: transform 0.3s, color 0.3s;
    transform: scale(1.2);
}

@media (max-width: 900px) {

.navbar-background{
    background-color: #f8f4e5;
    height: 50px;
}

.navbar {
    flex-direction: row; /* Stack the items vertically */
    align-items: left;     /* Center the items horizontally */      /* Adjust top margin */
    width: 80%;
    margin-left:100px;
    margin-right: auto;
    z-index: 15;
    border-radius: 5px;
}

.navbar ul {
    display: flex; /* Change the navbar links to block-level for vertical stacking */
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 0; /* Add spacing between items */
    text-align: center; /* Center the text inside each link */
}

.navbar .logo {
    margin-top: 5px;  /* Provide some space between the logo and navbar items */
    width: 150px; 
    top: -45px;
    left: 0;    /* Reduce logo size on smaller screens */
}

.navbar a {
    font-size: 20px; /* Adjust font size for readability */
}

/* Optional: Adjust button style for smaller screens */
button {
    width: auto; /* Allow button to be smaller */
    padding: 10px 20px;
}
}

</style>