<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cake Requests</title>

    <!-- Link to External CSS -->
    <link rel="stylesheet" href="/css/cakereqstyle.css">
</head>
<body>

    <!-- Include the Navbar -->
    <%- include('../partials/loginnavbar') %>

    <h2>HELLO, welcome to Cake Requests</h2>

</body>
</html>
