<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Paris Sweet Patisserie</title>
    <link rel="stylesheet" href="../css/forgotpassword.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/navbar') %>

    <div class="container">
        <h2>Reset Password</h2>
        <form id="forgotPasswordForm">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= email %>" required readonly>
        
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        
            <p class="error" id="errorMsg" style="display: none; color: red;"></p>
            <button type="submit">Reset Password</button>
        </form>
        
    </div>

    <script src="../js/forgotpassword.js"></script>
    
    

    <%- include('../partials/footer') %>
</body>
</html>
